#cabeçalho {
  list-style-type: none;
  background-color: #021b30;
 height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
 width: 100%;
}

#menu {
  display: flex;
  justify-content: center;
  align-items: center;

}

#menu a {
  text-decoration: none;
  color: white;
  font-family: "Questrial", sans-serif;
  font-size: x-large;

}

#menu li {
  display: inline;
}


.logo {
  margin-left: 400px;
  margin-right:115px;
  width: 70x;
 height: 70px;
 }

 .Piola {
  display: inline-block; /* Adicione esta linha para torná-lo um elemento em linha */
  font-size: xx-large;
  color: #021B30;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #988B8E;
  font-family: "Questrial", sans-serif;
  margin-left: 0;
  margin-right: 300px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 40%;
  border-radius: 15px;
}

.Piola p {
 display: flex;
 justify-content: center;
}

.ajuda {
  color: white;
  font-family: 'Lexend Exa', sans-serif;
  font-size: x-large;
  white-space: nowrap; /* Impede que o texto seja quebrado em várias linhas */
  margin-right: 60px;
}




.bloco-de-notas {
  text-align: center;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
}
#id{
  margin-top: 100px;
 
}
input[type="email"],
textarea,
button {
  display: block;
  margin: 10px auto;
  margin-top: 40px;
}
